*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html, body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
} */
.containers {
    width: 60%;
    margin: 0 auto;
}